<?xml version="1.0" encoding="UTF-8"?>
<Configuration state="WARN">

    <Properties>
        <Property name="log-path">.</Property>
    </Properties>

    <!-- Appenders (writing to file in various ways) -->
    <Appenders>
        <RollingFile name="INTERNAL"
                     fileName="${log-path}/raft.log"
                     filePattern="${log-path}/raft-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %c{1}: %m%n</pattern> -->
                <pattern>[%t] [%-5level] %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>

        <RollingFile name="STATISTICS"
                     fileName="${log-path}/statistics.log"
                     filePattern="${log-path}/statistics-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}: %m%n</pattern> -->
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="9"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="org.gautelis.raft" level="TRACE" />
        <logger name="org.apache" level="WARN" />

        <logger name="STATISTICS" level="INFO">
            <appender-ref ref="STATISTICS"/>
        </logger>

        <Root level="DEBUG">
            <appender-ref ref="INTERNAL"/>
        </Root>
    </Loggers>
</Configuration>
